<!DOCTYPE html>
<html>

<head>
  <title>Review Meme</title>
  <link href="/stylesheets/style.css" rel="stylesheet" />
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- <script defer src="/javascripts/memeview.js"></script> -->
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left">Meme Review</a>
        <!-- Add login UI here -->
        <ul class="right">
          <% if (user) { %>
          <li><a href="/memes/addmeme" class="right">Add Meme</a> </li>
          <% } %>
          <li>
            <% if (user) { %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
            <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
            <% } %>
          </li>
          <!-- </ul> -->
          <!-- </li> -->
        </ul>
      </div>
    </nav>
  </div>
  <br>
  <% if (memeObj) { %>
  <div class="text-center">
    <img id="images" src=<%= memeObj.url %> class="img-fluid" alt="Responsive image">
  </div>
  <% } %>

  <% if (user) {%>
  <form id="comment-form" class="heading px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" method="post"
    action="/memes/<%= memeObj._id %>/add-comment">
    <div class="input-group mb-3">
      <input name="commentvalue" type="text" class="form-control" placeholder="Let us know what you think!" />
      <div class="input-group-append">
        <button memeid="<%=memeObj._id%>" id="comment-submit" type="submit"
          class="btn btn-success black">Submit</button>
      </div>
    </div>
  </form>
  <%}%>

  <br>
  <br>

  <% if(memeObj.comments.length != 0) {%>
  <section id="comments-list">
    <h2 class="text-center">COMMENTS</h5>
      <% for(let y = 0; y < memeObj.comments.length ; y++){ %>
      <div id="commentswindow" class="px-5 py-5 pt-md-5 pb-md-4 mx-auto text-center">
        <%if(user.googleId == memeObj.comments[y].user.googleId){%>
        <div class="d-inline">
          <form id="delete-form" method="post"
            action="/memes/<%= memeObj._id%>/delete-comment/<%= memeObj.comments[y]._id %>">
            <button class="btn btn-md btn-danger black float-left">X</button>
          </form>
        </div>
        <%}%>
        <h4 class="mx-5"><%= memeObj.comments[y].user.name %> - <%= memeObj.comments[y].content %></h4>
      </div>
      <%}%>
  </section>
  <% } %>
</body>

</html>